@use "./variables";

// Tactical Clip Path (Angled corners)
@mixin tactical-clip($top-width: 94%, $bottom-width: 6%) {
  clip-path: polygon(0 0, 100% 0, $top-width 100%, $bottom-width 100%);
}

// Centering Flexbox
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Industrial Rivets
@mixin rivet-style {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: variables.$rivet;
  border: 1px solid variables.$edge;
}

// Scrollbar Theme
@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: variables.$steel;
  }
  &::-webkit-scrollbar-thumb {
    background: variables.$edge;
    &:hover {
      background: variables.$amber;
    }
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

// Status Dot Logic
@mixin status-color($color) {
  background: variables.$color;
  box-shadow: 0 0 8px variables.$color;
}

@mixin set-color($color) {
  background: variables.$color;
}
